:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
/* #region Box */
.d-flex {
  display: flex;
}
.flex-coulmn {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.grow {
  flex-grow: 1;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
.gap-10 {
  gap: 10px;
}
/* #endregion Box */
/* #region Padding + margin */
.p-0 {
  padding: 0;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.m-0 {
  margin: 0;
}
.m-10 {
  margin: 10px;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-5 {
  margin-bottom: 5;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
/* #endregion Padding + margin */
/* #region color */
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-red {
  background-color: var(--red-color);
}
.bg-grey {
  background-color: var(--grey-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.c-black {
  color: black;
}
.c-white {
  color: white;
}
.c-grey {
  color: var(--grey-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-green {
  color: var(--green-color);
}
/* #endregion color */
/* #region position */
.p-relative {
  position: relative;
}
/* #endregion position */
/* #region dimensions */
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.h-full {
  height: 100%;
}
.h-fit {
  height: fit-content;
}
/* #endregion dimensions */
/* #region font */
.txt-c {
  text-align: center;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-25 {
  font-size: 25px;
}
.fw-bold {
  font-weight: bold;
}
/* #endregion font */
/* #region border */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.circle {
  border-radius: 50%;
}
.b-none {
  border: none;
}
.b-ccc {
  border: 1px solid #ccc;
}
/* #endregion border */
/* #region components */
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-shape {
  width: fit-content;
  height: fit-content;
  padding: 4px 10px;
  border-radius: 6px;
}
/* #endregion components */
/* #region Mobile modifications */
@media (max-width:767px) {
  .hide-mobile {
    display: none;
  }
  .txt-c-mobile {
    text-align: center;
  }
  .block-mobile {
    display: block;
  }
  .justify-c-mobile {
    justify-content: center;
  }
  .flex-wrap-mobile {
    flex-wrap: wrap;
  }
}
/* #endregion Mobile modifications */
